@font-face {
    src : url("/Resources/Fonts/Roboto-Medium.ttf");
}

@font-face {
    src : url("/Resources/Fonts/Roboto-Regular.ttf"),
}

.combo-box {
    -fx-background : white;
    -fx-background-color : white;
    -fx-pref-width : 250;
}

.combo-box .list-cell:hover {
    -fx-background-color : #013243;
}

.combo-box .list-cell:selected {
    -fx-text-fill : white;
    -fx-background-color : orange;
}

.dialog-pane {
    -fx-background-color : #013243;
}

.dialog-pane .button {
    -fx-base : white;
    -fx-focus-color : orange;
    -fx-font-family : "Roboto Regular";
    -fx-text-fill : #013243;
}

.dialog-pane .label {
    -fx-text-fill : white;
    -fx-font-family : "Roboto Regular";
    -fx-font-size : 16;
}

.dialog-pane:header .header-panel{
    -fx-background-color : orange;
}

.label {
    -fx-font-family : "Roboto Medium";
    -fx-text-fill : "white";
}

.root{
    -fx-font-family : "Roboto Regular";
    -fx-font-size : 16;
    -fx-background-color : #013243;
}

.text-field {
    -fx-text-box-border : #013243;
    -fx-focus-color : orange;
}
